
{% extends 'base.html' %}
{% block content %}
{% load static %}
<main class="main">
    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <img src="{% static 'assets/img/logo_home.png' %}" alt="" data-aos="fade-in">

      <div class="container text-center" data-aos="zoom-out" data-aos-delay="100">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <a href="{% url 'about' %}" class="btn-get-started">About Me</a>
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->
  </main>
{% endblock %}