

#wishlist-items {
  list-style: none;
  padding-left: 0;
  margin-top: 8px;
}

#wishlist-box {
  display: block !important;
  background: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  width: 300px;
}

#wishlist-items li {
  display: block;
  color: black;
  margin-bottom: 8px;
}

#wishlist-empty {
  color: #999;
  text-align: center;
}
#wishlist-items img {
  object-fit: cover;
  border-radius: 6px;
  margin-right: 8px;
}

.remove-wish {
  cursor: pointer;
  color: red;
}
